#
# Copy and rename this file to .env at root of this project.
#

# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
#$databases['default']['default'] = [
#  'database' => $_ENV['DATABASE_NAME'],
#  'driver' => $_ENV['DATABASE_DRIVER'],
#  'host' => $_ENV['DATABASE_HOST'],
#  'namespace' => $_ENV['DATABASE_NAMESPACE'],
#  'password' => $_ENV['DATABASE_PASSWORD'],
#  'port' => $_ENV['DATABASE_PORT'],
#  'prefix' => $_ENV['DATABASE_PREFIX'],
#  'username' => $_ENV['DATABASE_USER'],
#];
#

# Set to the env you are configuring: development, staging, production
#ENVIRONMENT=development

# Uncomment and populate as needed.
#DATABASE_DRIVER=mysql
#DATABASE_PORT=3306
#DATABASE_NAME=thunder_develop
#DATABASE_HOST=database
#DATABASE_USER=thunder
#DATABASE_PASSWORD=thunder
#DATABASE_PREFIX=

# Another common use case is to set Drush's --uri via environment.
#DRUSH_OPTIONS_URI=http://localhost:8080

# Docker compose environment
# On dev-environment this should be set to $(id --user)
#DOCKER_USER_ID=1000
# On dev-environment this should be set to  $(id --group)
#DOCKER_GROUP_ID=1000
#TRUSTED_HOST_PATTERN=
