<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="nocake">
  <description>PHP CodeSniffer configuration for thunder.</description>
  <file>docroot/profiles/contrib/thunder</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt"/>
  <config name="drupal_core_version" value="9"/>
  <!-- If you have Coder installed locally then you can reference the Drupal
  standards with relative paths. Otherwise simply use "Drupal" and
  "DrupalPractice. -->
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
